{% extends "base.html" %}
{% load static %}


{% block extrahead %}
<link href="{% static 'bs/css/user_mypage.css' %}" rel="stylesheet">
<link href="{% static 'bs/css/admin_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}호텔 이름{% endblock %}

{% block contents %}
{% block script %}
<script src="{% static 'bs/js/admin_hotel.js' %}"></script>
{% endblock%}

<div id="side_nav" class="side_nav">
    <!-- <a href="#" 
        class="closebtn" id="closebtn" 
        onclick="closeNav()">&times;</a> -->
    <div class="side_menu" id="user_profile">{{ user.user_id }}</div>
    <a class="side_menu" href="{% url 'admin_info' %}">회원정보</a>
    <a class="side_menu" href="{% url 'admin_pw_change' %}">비밀번호 변경</a>
    <a class="side_menu" id=self href="{% url 'admin_hotel' %}">숙소관리</a>
    <a class="side_menu" href="{% url 'admin_vacation' %}">여행지 관리</a>
    <a class="side_menu" href="{% url 'admin_manage' %}">예약관리</a>
</div>


<div class="con2">
    <div class="contents">
        <h5 id="title">마이페이지 > 숙소등록 > 호텔이름</h5>
        <div class="info_form" name="hotel_info_form">
           
            <label class="index_title">기본정보</label>
            <input id="adjust_btn" type="button" value="정보 수정">
            <input id="delete_btn" type="button" value="숙소 삭제">
        
            <div class="hotel_info_title">
                <div class="info">
                    <ul>
                        <li>고유번호</li>       
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        <li>숙소 이름</li>
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        <li>도로명 주소</li>
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        <li>영업상태</li>
                    </ul>
                </div>
            </div>
            <div class="hotel_info_content">
                <div class="info">
                    <ul>
                        <li>0023</li>       
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        <li>ABC호텔</li>
                    </ul>
                </div>
                <div class="info3">
                    <ul>
                        <li>용인시 기흥구 어쩌구 저쩌구ㅁㄴㅇㄴㅁㅇ</li>
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        <li>영업중</li>
                    </ul>
                </div>
            </div>
            <div class="hotel_info_summary">
                <div class="info">
                    <ul>
                        <li>요약설명</li>       
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        <li>수영장물이 맛있어요</li>
                    </ul>
                </div>
            </div>

            <label class="room_info_label">객실 정보</label>
            <div class="hotel_room_title">
                <div class="info">
                    <ul>
                        <li>객실종류</li>       
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        <li>사용인원</li>
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        <li>가격</li>
                    </ul>
                </div>
            </div>
            <div class="hotel_room_content">
                <div class="info">
                    <ul>
                        <li>디럭스</li>       
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        <li>5명</li>
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        <li>120,000원</li>
                    </ul>
                </div>
            </div>
            <div class="hotel_room_content">
                <div class="info">
                    <ul>
                        <li>일반</li>       
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        <li>2명</li>
                    </ul>
                </div>
                <div class="info">
                    <ul>
                        <li>20,000원</li>
                    </ul>
                </div>
            </div>
            <div>
                <label class="hotel_img_label">대표 사진</label>
                <div class="hotel_img"></div> 
            </div> 
        
          
            
        </div>
        
        <div class="review_form" name="hotel_detail_review">
            <label class="review_label">리뷰관리</label>
                <div class="review_top">
                    <div class="review_star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <span class="review_score">
                        <ul>
                            <li>평점:</li>       
                            <li>4.2 / 5.0</li>
                        </ul>
                    </span>
            
                    <span class="review_cnt">
                        <ul>
                            <li>리뷰 개수:</li>       
                            <li>120개</li>
                        </ul>
                    </span>          
                </div>
            <select class="review_select"> <!--지역 검색-->
                <option value="view_three" >3개씩</option>
                <option value="view_five" selected>5개씩</option>
                <option value="view_ten">10개씩</option>
                <option value="view_twenty" >20개씩</option>
            </select>
            <div class="user_review">
                <i class='fas fa-user-circle' style='font-size:30px;color:#CECECE;margin-left:10%;'></i>
                <li>asdqwe1</li> <!--아이디-->
                <i class="fas fa-star" style="margin-left:10%;"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <div class="user_review_content">
                <li>와! 호텔! 와! 야경!</li>
            </div>
            <div class="user_review">
                <i class='fas fa-user-circle' style='font-size:30px;color:#CECECE;margin-left:10%;'></i>
                <li>zmzmfnQLdQHd1</li><!--아이디-->
                <i class="fas fa-star" style="margin-left:10%;"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <div class="user_review_content">
                <li>와! 호텔! 와! 야경!</li>
            </div>
        </div>
                
    </div>
</div>

{% endblock %}