{% extends "base.html" %}
{% load static %}


{% block extrahead %}
<link href="{% static 'bs/css/user_mypage.css' %}" rel="stylesheet">
<link href="{% static 'bs/css/admin_menu.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}숙소 관리{% endblock %}

{% block contents %}
{% block script %}
<script src="{% static 'bs/js/admin_hotel.js' %}"></script>
{% endblock%}

<div id="side_nav" class="side_nav">
    <!-- <a href="#" 
        class="closebtn" id="closebtn" 
        onclick="closeNav()">&times;</a> -->
    <div class="side_menu" id="user_profile">{{ user.user_id }}</div>
    <a class="side_menu" href="{% url 'admin_info' %}">회원정보</a>
    <a class="side_menu" href="{% url 'admin_pw_change' %}">비밀번호 변경</a>
    <a class="side_menu"  id=self href="{% url 'admin_hotel' %}">숙소관리</a>
    <a class="side_menu" href="{% url 'admin_vacation' %}">여행지 관리</a>
    <a class="side_menu" href="{% url 'admin_manage' %}">예약관리</a>
</div>

<div class="con2">
    <div class="contents">
        <h5 id="title">마이페이지 > 숙소관리</h5>
        <div class="btn_container">
            <a type="button" class="to_register" href="{% url 'hotel_register' %}">숙소등록</a>
        </div>

        <table class="reserves">
            <tr><!--테이블 시작-->
                <!-- {% if lists %} -->
                    {% for hotel in lists %}
                        <td class="reserve"> 
                            <img src="{% static 'img/hotel.png' %}">
                            <div class="info_container">
                                <label class="reserve_name">{##}그랜드 하얏트 서울</label>
                                <label class="reserve_adress">{##}서울 용산구 소월로 22</label>
                                <label class="review_count">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </label>
                            </div>
                            <a type="button" class="detail_btn" href="#">세부정보</a>
                        </td>
                    {% endfor %}
                <!-- {% endif %} -->

            </tr><!--테이블 끝-->
        </table>
    </div>
</div>
{% endblock %}