{% extends "base.html" %}
{% load static %}

{% block contents %}
<!DOCTYPE html>
<html>
<!-- {% block title %}검색{% endblock %} -->
    <div id="list_search">      <!-- 검색 창 -->
        <select class="list_pl_search" >
            <option value="suwon"><i class="fas fa-map-marker-alt" class="map"></i>수원</option>
            <option value="siheong">시흥</option>
            <option value="namyangzu" >남양주</option>
            <option value="pazu" selected>파주</option>
        </select>
        <input type="date" class="list_stdate_search">
        <!-- <input type="date" class="list_eddate_search"> -->
 
        <select class="list_peonum_search" >
            <option value="one" selected>1인</option>
            <option value="two">2인</option>
            <option value="three" >3인</option>
            <option value="four">4인</option>
        </select>
        <input type="submit" class="search_submit" value="검색">
    </div>
    
    <!-- 우측 지도 -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3177.5135141850706!2d127.00561820000001!3d37.211782899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8f20f378e26bc085!2zMzfCsDEyJzQyLjQiTiAxMjfCsDAwJzIwLjIiRQ!5e0!3m2!1sko!2skr!4v1648603766418!5m2!1sko!2skr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="list_gps_map"></iframe>
    <!-- 좌측 list -->
    {% for hotel in list %}
    <div class="table_list" id="table_list" style="display:block">
        <a href = "#" onclick ="list_gps_subit()" id="table_list"><div class="table_list" >
            <div class="list1">
            </div>
        <div class="hotel_image_1"></div>
        <a href= "{% url 'hotel_detail' %}"><li class="hotel_name_1"> {{ BIZPLC_NM }}</li></a>
        <li class="hotel_add_1"> {{ REFINE_ROADNM_ADDR }} </li>
        <div class="list_rating_1">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <li> {{ hotel_rate }}</li>
        </div>
        <li class="hotel_pay_1">{{ room_price }}</li>
    </div> </a>
    {% endfor %}
    </div> 
    </div>
    <!-- 리스트 밑의 번호 -->
        <div class="list_page_num" id="list_page_num">
            <ul class="d-flex">
                <a href="#" onclick="list_before_page()">
                <li><i class='fas fa-chevron-circle-left' style='font-size:24px'></i></li>
                </a>
                <a href="#" onclick="list_first_page()" id="list_first" ><li>1</li></a>
                <a href="#" onclick="list_second_page()"id="list_second"><li>2</li></a>
                <a href="#" onclick="list_third_page()" id="list_third"><li>3</li></a>
                <a href="#" onclick="list_fourth_page()" id="list_fourth"><li>4</li></a>
                <a href="#" onclick="list_fiveth_page()" id="list_fiveth"><li>5</li></a>
                <a href="#" onclick="list_next_page()">
                <li><i class='fas fa-chevron-circle-right' style='font-size:24px'></i></li>
                </a>
            </ul>
        </div>

       
    </header>
{% endblock %}
