{% extends "base.html"%}
{% load static%}
{% block extrahead %}
{% endblock %}

{% block title %}{{ hotel.BIZPLC_NM }}{% endblock %} {# 호텔명 #}

{% block contents %}
<div class="container hotel_detail">
    <!--상단 평점, 호텔명, 주소-->
    <div class="col-12">
        <div class="rating_head">
            {% for i in "x"|rjust:"5" %}
                {% if hotel.hotel_rate >= forloop.counter %}
                    <i class="fas fa-star"></i>
                {% else %}
                <i class="fas fa-star no_star"></i>
                {% endif %}
            {% endfor %}
        </div>
        <h1 class="mt-3">{{ hotel.BIZPLC_NM }}</h1>
        <h5>{{ hotel.REFINE_ROADNM_ADDR }}</h5>
        <div class="hotel_main_img mt-4 mb-5"></div>
    </div>
    <!-- 샹세정보 -->
    <div class="d-lg-flex hotel_detail1">
        <div class="col-lg-8 col-12 hotel_detail_info pe-lg-5">
            <div>
                <h2>상세 정보</h2>
                <p>{{ hotel.hotel_comment }}</p>
            </div>
            <hr>
            <div>
                <h2>위치</h2>
                <div id="googleMap" class="google_map mb-lg-0 mb-5"></div>
            </div>
        </div>
    
        <!-- 예약 -->
        <div class="col-lg-4 col-12 hotel_detail_reserve align-self-sm-start">
            <p>예약을 진행하시려면 예약 날짜와 인원수를 입력해주세요.</p>
            <form>
                <div class="hotel_detail_reserve_btn hotel_detail_reserve_date d-flex">
                    <button class="hotel_detail_reserve_checkin"><i class="fas fa-calendar-alt"></i><span class="icon_before">체크인</span></button>
                    <button class="hotel_detail_reserve_checkout">체크아웃</button>
                </div>
                <div class="choice_people">
                    <button class="hotel_detail_reserve_btn"><i class="fas fa-user-alt"></i>인원선택</button>
                    <div>
                        <select name="" id="" style="width: 100%; margin-bottom: 12px; border-radius: 10px;  padding: 15px 20px; font-size: 20px; border: 1px solid var(--sub-grey-color); text-align: center; position: relative; top: 0; left: 0;">
                            <option value="">인원선택</option>
                            <option value="1">1명</option>
                            <option value="2">2명</option>
                            <option value="3">3명</option>
                            <option value="4">4명</option>
                            <option value="5">5명</option>
                        </select>
                    </div>
                </div>
                <div class="choice_room">
                    <button class="hotel_detail_reserve_btn"><i class="fas fa-door-closed"></i>객실선택</button>
                    <select name="" id="" style="width: 100%; margin-bottom: 12px; border-radius: 10px;  padding: 15px 20px; font-size: 20px; border: 1px solid var(--sub-grey-color); text-align: center; position: absolute; top: 0; left: 0; display: none;">
                        <option value="">객실선택</option>
                        <option value="">디럭스</option>
                    </select>
                </div>
                <button class="hotel_detail_reserve_btn hotel_detail_reserve_btn_submit">예약하기</button>
            </form>
        </div>
    </div>

    <!-- 평점 -->
    <div>
        <h2>리뷰</h2>
        <div class="hotel_review_rating d-lg-flex">
            <div class="d-flex flex-column total_rating col-lg-6 justify-content-center">
                <p><span class="my_rating">{{ hotel.hotel_rate }} </span><span class="slash">/</span> 5.0</p>
                <div class="my_rating_star">
                    {% for i in "x"|rjust:"5" %}
                        {% if hotel.hotel_rate >= forloop.counter %}
                            <i class="fas fa-star"></i>
                        {% else %}
                            <i class="fas fa-star no_star"></i>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 d-lg-flex justify-content-center">
                <table class="review_rating_cnt">
                    <tr>
                        <td class="review_rating_cnt_star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </td>
                        <td>
                            <p>{{ count.5 }} 명</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="review_rating_cnt">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </td>
                        <td>
                            <p>{{ count.4 }} 명</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="review_rating_cnt">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </td>
                        <td>
                            <p>{{ count.3 }} 명</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="review_rating_cnt">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </td>
                        <td>
                            <p>{{ count.2 }} 명</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="review_rating_cnt">
                            <i class="fas fa-star"></i>
                        </td>
                        <td>
                            <p>{{ count.1 }} 명</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="user_review">
            <table class="table table-hover">
                <tbody>
                    {% if reviews %}
                        {% for review in reviews %}
                        <tr>
                            <td>{{ review.id_id }}</td>
                            <td>{{ review.hotel_review_content }}</td>
                            <td class="upload_date">{{ review.hotel_review_date }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>리뷰가 없습니다.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <!-- pagination -->
            <div class="container mt-1">
                <ul class="pagination justify-content-center">
                    {# << 표시 여부 #} 
                    {% if reviews.number > 1 %}       
                    <li class="page-item"><a class="page-link" href="#" title="처음"><i class='fas fa-angle-double-left'></i></a></li>
                    {% endif %}

                    {# < 표시 여부 #}
                    {% if start_page > 1%}
                    <li class="page-item"><a class="page-link" href="#" title="이전"><i class='fas fa-angle-left'></i></a></li>
                    {% endif %}

                    {# 페이징 안의 '숫자' 표시 #}
                    {% if reviews.paginator.num_pages > 1 %}
                        {% for p in page_range %}
                            {% if reviews.number != p %}
                            <li class="page-item"><a class="page-link" href="#">{{ p }}</a></li>
                            {% else %}
                            <li class="page-item active"><a class="page-link" href="#" title="현재페이지">{{ p }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {# > 표시 #}
                    {% if reviews.paginator.num_pages > end_page %}
                    <li class="page-item"><a class="page-link" href="#" title="다음"><i class='fas fa-angle-right'></i></a></li>
                    {% endif %}
                
                    {# >> 표시 #}
                    {% if reviews.number < reviews.paginator.num_pages %}
                    <li class="page-item"><a class="page-link" href="#" title="마지막"><i class='fas fa-angle-double-right'></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div>
        <h2>추천여행지</h2>
        <div class="d-flex">
            {% for vacation in recommand_vacations %}
                {% if forloop.counter < 4 %}
                <div class="recommend_vaction col-lg-3 me-lg-4">
                    <p>{{ vacation.TURSM_INFO_NM }}</p>
                </div>
                {% else %}
                <div class="recommend_vaction col-lg-3">
                    <p>{{ vacation.TURSM_INFO_NM }}</p>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <input type="hidden" value="{{ hotel.REFINE_WGS84_LAT }}" name="lat">
    <input type="hidden" value="{{ hotel.REFINE_WGS84_LOGT }}" name="lng">
</div>

{% endblock %}
{% block extrafoot %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGkSbB_IhB_i3-8caf6gKcuDHLJT27d0k&callback=myMap"></script>
{% endblock %}