{% extends "base.html" %}
{% block title %}홈페이지{% endblock %}
{% block contents %}
    <section class="page" style="position: relative;"> <!-- 메인 이미지 및 메인 검색창-->
        <div class="main_image"> <!-- 메인 이미지 -->
            <div class="main_search"> <!-- 메인 검색 -->
                <form>
                    <div class="menu_select">
                        <ul class="menu_icon">
                            <ul>
                                <a href="#" onclick="search_hotel()">
                                    <li><i class="fas fa-hotel"></i></li>
                                    <li>호텔</li>
                                </a>
                            </ul>
                            <ul>
                                <a href="#" onclick="search_vacation()">
                                    <li><i class="fas fas fa-plane"></i></li>
                                    <li>여행지</li>
                                </a>
                            </ul>
                        </ul>
                    </div>
                    <div class="hotel_search col-lg-4" id="hotel_search"> <!-- 호텔 검색창 -->
                        <ul>
                            <li>
                                <a onclick="search_location()" class="location" id="location">
                                    <i class="fas fa-map-marker-alt" class="map"></i><sapn id="lo_text">위치</sapn>
                                </a>
                            </li>
                            <ul>
                                <a onclick="get_date()" class="get_date" id="get_date">
                                    <li class="chk_date">
                                        <i class="fas fa-calendar-alt"></i><span id="chk_in">체크인</span>
                                    </li>
                                    <li><span id="chk_out">체크아웃</span></li>
                                    <input type="hidden" value="{{ check_in }}" name="start_date">
                                    <input type="hidden" value="{{ check_out }}" name="end_date">
                                </a>
                            </ul>
                            <li class="choice_people" onclick="choice_people()"><i class="fas fa-user-alt"></i>인원</li>
                            <li class="hotel_submit"><a href="#"><span style="color:white; padding:10px 30px 10px 30px;">검색</span></a></li>
                        </ul>
                    </div>
                    <ul class="hotel_location col-lg-4" id="hotel_location">
                        {% for place in hotel_places %}
                        <li id="{{ place.SIGUN_NM }}" class="hotel_lo_select" onclick="hotel_lo_select(this)">{{ place.SIGUN_NM }}</li>
                        {% endfor %}
                    </ul>
                    <!-- </div> -->
                    <div class="date_pick" id="date_pick">
                        <div>
                            <div class="input-daterange reserve_date"><input type="text" name="daterange" id="datepicker" readonly /> 
                            <input type="button" value="적용" name="date_choice">
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="hotel_reserve_people">
                          <button type="button" data-quantity="minus" data-field="hotel_reserve_people">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                          </button>
                        </div>
                        <input class="input-group-field hotel_reserve_people" type="number" name="hotel_reserve_people" max="1" value="{{ hotel_reserve_people }}" readonly/>
                        <div class="hotel_reserve_people">
                          <button type="button" data-quantity="plus" data-field="hotel_reserve_people">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                </form>
                <form>
                    <div class="vacation_search" id="vacation_search" style="display: none;"> <!-- 여행지 검색창 -->
                        <ul>
                            <li>
                                <a onclick="search_va_location()" class="location" id="location">
                                    <i class="fas fa-map-marker-alt" class="map"></i><sapn id="va_lo_text">위치</sapn>
                                </a>  
                            </li>
                            <a onclick="search_va_location()" class="location" id="location"><li><i class="fas fa-user-alt"></i><span>인원</span></li></a>
                            <li class="vacation_submit"><a href="#"><span style="color:white; padding:10px 30px 10px 30px;">검색</span></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <article class="container">
        <div class="mt-5">
            <h2 class="mb-3">추천여행지</h2>
            <div class="d-lg-flex">
                <a href="#" title="이전"><i class='fas fa-angle-left'></i></a>
                    {% for vacation in recommand_vacations %}
                        {% if forloop.counter < 4 %}
                        <div class="recommend_vaction col-lg-3 col-12 me-lg-4">
                            <p>{{ vacation.TURSM_INFO_NM }}</p>
                        </div>
                        {% else %}
                        <div class="recommend_vaction col-lg-3 col-12">
                            <p>{{ vacation.TURSM_INFO_NM }}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                <a href="#" title="이전"><i class='fas fa-angle-right'></i></a>
            </div>
        </div>
        <div class="mt-5">
            <h2 class="mb-3">추천숙소</h2>
            <div class="d-lg-flex">
                <a href="#" title="이전"><i class='fas fa-angle-left'></i></a>
                {% for hotel in recommand_hotels %}
                    {% if forloop.counter < 4 %}
                    <div class="recommend_vaction col-lg-3 col-12 me-lg-4">
                        <p>{{ hotel.BIZPLC_NM }}</p>
                    </div>
                    {% else %}
                    <div class="recommend_vaction col-lg-3 col-12">
                        <p>{{ hotel.BIZPLC_NM }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
                <a href="#" title="이전"><i class='fas fa-angle-right'></i></a>
            </div>
        </div>
    </article> 
{% endblock %}