{% extends "base.html" %}
{% block title %}홈페이지{% endblock %}
{% block contents %}
    <section class="page"> <!-- 메인 이미지 및 메인 검색창-->
        <div class="main_image"> <!-- 메인 이미지 -->
            <div class="main_search"> <!-- 메인 검색 -->
                <div class="menu_select">
                    <ul class="menu_icon">
                        <ul>
                            <a href="#" onclick="search_hotel()">
                                <li><i class="fas fa-hotel" style="font-size: 30px;"></i></li>
                                <li>호텔</li>
                            </a>
                        </ul>
                        <ul class="slash">
                            <a href="#" onclick="search_vacation()">
                                <li><i class="fas fas fa-plane" style="font-size: 30px;"></i></li>
                                <li>여행지</li>
                            </a>
                        </ul>
                    </ul>
                </div>
                <div class="hotel_search" id="hotel_search"> <!-- 호텔 검색창 -->
                    <ul>
                        <li><i class="fas fa-map-marker-alt" class="map"></i>위치</li>
                        <ul>
                            <li class="chk_date"><i class="fas fa-calendar-alt"></i>체크아웃</li>
                            <li class="slash2">체크인</li>
                        </ul>
                        <li><i class="fas fa-user-alt"></i>인원</li>
                        <li><a href="#">검색</a></li>
                    </ul>
                </div>
                <div class="vacation_search" id="vacation_search" style="display: none;"> <!-- 여행지 검색창 -->
                    <ul>
                        <li>위치</li>
                        <li>인원</li>
                        <li>검색</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div></div>
    </header>
    <article>
        <section></section>
        <section></section>
    </article>
    <footer>푸터입니다.
    </footer>
{% endblock %}