{% extends "base.html" %}
{% block contents %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>홈페이지</title>
</head>

<body>
    <nav class="navbar navbar-expand bg-white fixed-top toolbar"> <!-- 홈탑메뉴바 -->
        <a href="#"><span class="home_icon">Trip</span></a>
        <ul class="navbar-nav home_tool">
            <li class="home_menu">
                <a href="#">호텔</a>
            </li>
            <li class="home_menu">
                <a href="#">여행지</a>
            </li>
        </ul>
        <ul class="navbar-nav home_tool2">
            <li class="home_menu">
                <a href="#">로그인</a>
            </li>
        </ul>
    </nav>
    <section class="page"> <!-- 메인 이미지 및 메인 검색창-->
        <div class="main_image"> <!-- 메인 이미지 -->
            <div class="main_search"> <!-- 메인 검색 -->
                <div class="menu_select">
                    <div>
                        <a href="#"><span class="hotel_icon">ddd</span></a>
                    </div>
                </div>
            </div>  
        </div>
    </section>
    <div></div>
    </header>
    <article>
        <section></section>
        <section></section>
    </article>
    <footer>푸터입니다.
    </footer>
</body>

</html>
{% endblock %}