{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<link href="{% static 'bs/css/reserve_confirm.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="container">
    <h3>예약완료</h3>
    <div class="confirm_contents">
        <ul>
            <li><label class="title">예약자 이름</label><label class="info">{##}김**</label></li>
            <li><label class="title">휴대폰 번호</label><label class="info">{##}010-1234-1234</label></li>
            <li><label class="title">예약번호</label><label class="info">{##}0023</label></li>
            <li><label class="title">여행지 이름</label><label class="info">{##}한국민속촌</label></li>
            <li><label class="title">이용날짜 / 시간</label><label class="info">{##}2022.04.30 / {# #}13:00</label></li>
            <li><label class="title">인원 및 수량</label><label class="info">{##}2인</label></li>
        </ul>

        <hr>
        <br>
        <h4>결제금액</h4>
        <h4 class="important">{##}76,000원</h4>
        <br>
        <input id="to_mypage" type="button" value="마이페이지에서 확인하기">


    </div>

</div>

{% endblock %}
