
 .info_form{
    width: 1272px;
    margin: auto;
    border: 1px solid var(--sub-grey-color);
    padding: 20px ;
    border-radius: 20px;
    display: flex;
    flex-direction:column;
}
.info_top{
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin: auto;
}

.hotel_info_title{
    /* border: 1px solid var(--main-color); */
    display: flex;
    width: 100%;
    background-color:var(--sub-color);
    border-radius: 10px;
    padding-right: 30px;
    padding-bottom: 10px;

}
#delete_btn{
    background-color: var(--sub-grey-color);
    color: var(--text-sub-color);
    padding: 5px 20px 5px 20px;
    border: 1px solid var(--icon-color);
    border-radius: 10px;
    font-size: 13px;
    margin-top: 10px;
    margin: 5px 10px 0px 10px;
}

#adjust_btn{
    background-color: var(--sub-color);
    color: var(--main-color);
    padding: 5px 20px 5px 20px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    font-size: 13px;
    margin-top: 10px;
    margin: 5px 10px 0px 891px;
    float:right;
}

#delete_btn{
    float:right;
}


.index_title{
    font-size: 20px;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
}
.hotel_info_title{
    /* border: 1px solid var(--main-color); */
    display: flex;
    width: 100%;
    background-color:var(--sub-color);
    border-radius: 10px;
    padding-right: 30px;
    padding-bottom: 10px;

    /* position:absolute; */
}
.hotel_info_content{
    /* border: 1px solid var(--main-color); */
    display: flex;
    width: 100%;
    /* background-color:var(--sub-color); */
    border-radius: 10px;
    padding-right: 30px;
    padding-bottom: 10px;

    /* position:absolute; */
}

.info, .info3{
    margin: auto;
    list-style: none;
    text-align:center;
    /* width: 97%; */
    border: 1px solid var(--sub-grey-color);
    border-radius: 20px;
    /* background-color:var(--sub-color); */
    border:none;
    margin-top:2%;
    width:25%;
    /* height:15%;    */
}
.info>ul>li{  
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    /* border: 1px solid black; */
    
}
.info3>ul>li{  
    list-style: none;
    font-size: 11px;
    font-weight: bold;
    padding-top:5px;
    /* border: 1px solid black;    */
}
.hotel_info_summary{
    border: 1px solid var(--sub-grey-color);
    display: flex;
    width: 100%;
    /* background-color:var(--sub-color); */
    border-radius: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    float: left;
     /* position:absolute; */
}
.hotel_summary>p{
    display: inline-block;
    padding:  0 8%;
    
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    max-width: 500px;
    margin: 10px 10px;
}

.room_info_label{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px 5px 20px;
    margin-top:10%
}
.hotel_room_title{
    /* border: 1px solid var(--sub-grey-color); */
    display: flex;
    width: 100%;
    background-color:var(--sub-color);
    border-radius: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    float: left;
     /* position:absolute; */
}
.hotel_room_content{
    border: 1px solid var(--sub-grey-color);
    display: flex;
    width: 100%;
    /* background-color:var(--sub-color); */
    border-radius: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    float: left;
     /* position:absolute; */
}

.hotel_img_label{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px 5px 20px;
    margin-top:10%
}
.hotel_img{
    background-image: url(../../img/hotel.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    /* width:35%;
    height:150px; */
    margin-left:10px;
    margin-bottom:20px;
    width: 492px;
    height: 240px;
}

.review_form{
    width: 1272px;
    margin: auto;
    border: 1px solid var(--sub-grey-color);
    padding: 20px ;
    border-radius: 20px;
    float: left;
    margin-top: 8%;
 
}
.review_label{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px 5px 20px;
    
}
.review_title{
    /* border: 1px solid var(--main-color); */
    display: flex;
    width: 100%;
    background-color:var(--sub-color);
    border-radius: 10px;
    padding-right: 30px;
    padding-bottom: 10px;

}
.review_score{
    /* border: 1px solid var(--main-color); */
    display: flex;
    width: 100%;
    /* background-color:var(--sub-color); */
    border-radius: 10px;
    padding-right: 30px;
    padding-bottom: 10px;

}
.review_score>p{
    display: inline-block;
    padding:  0 8%;
    
    display: inline;
    padding:  0 8%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 136.5%;
    border: 1px solid black;
    max-height:30px;   
}
.review_top{
    text-align:center;
    /* width: 97%; */
    margin:auto;
    border: 1px solid var(--sub-grey-color);
    padding: 10% 1px;
    border-radius: 20px;
    background-color:var(--sub-color);
    border:none;
    margin-top:2%;
        
}
.review_top_title{
   
}
.user_hotel_review>ul>li{
    display: inline;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 136.5%;
    max-height:30px;   
    /* margin-top:5%; */
    margin: auto;
    list-style: none;
    text-align:center;
    /* width: 97%; */
    border: 1px solid var(--sub-grey-color);
    border-radius: 20px;
    /* background-color:var(--sub-color); */
    border:none;
    margin-top:2%;
    width:25%;
    /* height:15%;    */
}
.review_top_content{
   
}
.review_titlet>p{
    display: inline;
    padding:  0 8%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 136.5%;
    border: 1px solid black;
    max-height:30px;   
    /* margin-top:5%; */
}
.review_star>i{
    width: 100px;
    height: 100px;
    font-size: 100px;
}
.review_select{
    float:right;
    background-color: var(--sub-grey-color);
    color: var(--text-sub-color);
    padding: 5px 20px 5px 20px;
    border: 1px solid var(--icon-color);
    border-radius: 10px;
    font-size: 16px;
    margin-top: 3%;
    margin-bottom: 3%;

}
.user_review{
    margin-top:5%;
    
}
.user_review>p{
    display: inline-block;

}
.review_img{
    background-image: url(../../img/hotel.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    /* width:35%;
    height:150px; */
    margin-left:10px;
    margin-bottom:20px;
    width: 336px;
    height: 227px;
}
.user_review>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 136.5%;
    margin: 0 1%;
}

/*
.form-group{
    padding: 20px;
}

#file_title{
    width: 300px;
    display: inline-block;
}
.file_select_btn{
    display: inline-block;
    width: 300px;
    margin: 10px 0px 10px 0px;
}
.file_upload_btn{
    width:200px;
    margin: 10px 0px 10px 0px;
    display: inline-block;
}

.form-group>label{
    padding-right: 10px;
}

.bsn_state{
    padding: 5px;
    width:100px;
    display: inline-block;
}
*/

@media(min-width: 768px){
    .regist_form{
        max-width: 900px;

    }
} 