
 .info_form{
    width: 1272px;
    border: 1px solid var(--sub-grey-color);
    padding: 20px ;
    border-radius: 20px;
}

.info_top{
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin: auto;
}

.hotel_info_title{
    display: flex;
    width: 100%;
    background-color:var(--sub-color);
    border-radius: 10px;
    padding-right: 30px;
    padding-bottom: 10px;

}
#delete_btn{
    background-color: var(--sub-grey-color);
    color: var(--text-sub-color);
    padding: 5px 20px 5px 20px;
    border: 1px solid var(--icon-color);
    border-radius: 10px;
    font-size: 13px;
    margin-top: 10px;
    margin: 5px 10px 0px 0px;
}

#adjust_btn{
    background-color: var(--sub-color);
    color: var(--main-color);
    padding: 5px 20px 5px 20px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    font-size: 13px;
    margin-top: 10px;
    margin: 5px 10px 0px 0px;
    float:right;
}

#delete_btn{
    float:right;
}


.index_title{
    font-size: 20px;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
}
.hotel_info_title{
    display: flex;
    width: 100%;
    background-color:var(--sub-color);
    border-radius: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    margin-top:2%;
}  
.info, .info3{
        margin: auto;
        list-style: none;
        text-align:center;
        border: 1px solid var(--sub-grey-color);
        border-radius: 20px;
        border:none;
        margin-top:2%;
        width:25%;
}
.hotel_info_content{
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
}
    .info>ul>li{  
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    
}
.info3>ul>li{  
    list-style: none;
    font-size: 11px;
    font-weight: bold;
    padding-top:5px;
}
.hotel_info_summary{
    border: 1px solid var(--sub-grey-color);
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    float: left;
}
.hotel_summary>p{
    display: inline-block;
    padding:  0 8%;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    max-width: 500px;
    margin: 10px 10px;
}

.room_info_label{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px 5px 20px;
    margin-top:10%;

}
.hotel_room_title{
    display: flex;
    width: 100%;
    background-color:var(--sub-color);
    border-radius: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    float: left;
}
.hotel_room_content{
    border: 1px solid var(--sub-grey-color);
    display: flex;
    width: 100%;
    border-radius: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    float: left;
}

.hotel_img_label{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px 5px 20px;
    margin-top:10%;
 

}
.hotel_img{
    background-image: url(../../img/hotel.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left:10px;
    margin-bottom:20px;
    max-width: 600px;
    height: 400px;
}
.review_form{
    width: 1272px;
    border: 1px solid var(--sub-grey-color);
    padding: 20px ;
    border-radius: 20px;
    margin-top: 8%;
 
}

.review_label{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px 5px 20px;
    
}
.review_top{
    text-align:center;
    /* width: 97%; */
    border: 1px solid var(--sub-grey-color);
    padding: 10% 1px;
    border-radius: 20px;
    background-color:var(--sub-color);
    border:none;
    margin-top:2%;
        
}
.review_star>i{
    width: 100px;
    height: 100px;
    font-size: 100px;
}
.review_score{
    padding:15%;

}
.review_score>ul>li{
    display: inline;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 136.5%;
    max-height:30px;   
    list-style: none;
    border: 1px solid var(--sub-grey-color);
    margin-top:2%;
    width:25%;
}
.review_cnt{
    margin: auto;

}
.review_cnt>ul>li{
    display: inline;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 136.5%;
    max-height:30px;   
    list-style: none;
    border: 1px solid var(--sub-grey-color);
    margin-top:2%;
    width:25%;
}

.review_select{
    float:right;
    background-color: var(--sub-grey-color);
    color: var(--text-sub-color);
    padding: 5px 20px 5px 20px;
    border: 1px solid var(--icon-color);
    border-radius: 10px;
    font-size: 16px;
    margin-top: 3%;
    margin-bottom: 3%;

}
.user_review{
    /* border: 1px solid var(--main-color); */
    display: flex;
    list-style: none;
    /* flex-direction: row; */
    padding-top: 10%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 136.5%;
    padding: auto;
    width:25%
}
.user_review>li{
    margin-left:10%;
}
.user_review_content{
    list-style: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 136.5%;
    margin: auto;
    text-align: left;
    margin-left:2%;
    margin-top:2%;
}

/*
.form-group{
    padding: 20px;
}

#file_title{
    width: 300px;
    display: inline-block;
}
.file_select_btn{
    display: inline-block;
    width: 300px;
    margin: 10px 0px 10px 0px;
}
.file_upload_btn{
    width:200px;
    margin: 10px 0px 10px 0px;
    display: inline-block;
}

.form-group>label{
    padding-right: 10px;
}

.bsn_state{
    padding: 5px;
    width:100px;
    display: inline-block;
}
*/

@media(min-width: 768px){
    .regist_form{
        max-width: 900px;

    }
} 