/* 공통 */
html,body{
    width:100%;
    height:100%;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: var(--main-color);
}

button{
    border: 0;
    outline: 0;
}

hr{
    border-color : var(--sub-grey-color);
}

img{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.page-link{
    color: var(--main-color);
}

.page-link:hover{
    color: var(--main-color);
}

.page-item.active .page-link{
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* 기본색상 */
:root {
    --back-color : #fff;
	--main-color: #FF6B00;
    --sub-color : #FFF1E6;
    --sub-grey-color : #F1F1F1;
    --icon-color : #A8A8A8;
    --text-sub-color : #909090;
    --line-color : #c4c4c4;
}

.fa-star{
    color: #FFC701;
}

.no_star{
    color: var(--line-color);
}

.input-group-field{
    width: 100%;
    border: 1px solid var(--sub-grey-color);
    text-align: center;
}

.fa-plus, .fa-minus{
    margin: 0 !important;
}

.plus_minus_btn{
    position: relative; 
    top: 0;
}

.display_control{
    display: block;
}
  
.hotel_reserve_people{
    display: none;
}

#datepicker{
    text-align: center;
}

.date_pick{
    display: none;
    width: 100%;
    margin-top: 10px;
}

.vacation_date_pick{
    display: none;
    width: 100%;
    margin-top: 10px;
}

/* nav */
.toolbar {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.home_tool li{
    list-style: none;
    float: left;
}

.home_tool .menu_right{
    float: right;
}

.home_icon {
    margin-right: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 136.5%;
    cursor: pointer;
}

.home_menu {
    padding: 20px 0px;
    margin: 0 20px;
}
footer{
    border-top: 1px solid #dee5e7;
    height: 64px;
    background: #f7f7f7;
    position: relative;
    /* transform: translateY(-100%); */
    margin-top: 64px;
    bottom: 0;
}
.left_footer{
    list-style: none;
    float: left;
    padding: 20px 0px;
    margin: 0 5px;
    font-size: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
}
.right_footer{
    list-style: none;
    float: right;
    padding: 20px 0px;
    margin: 0 20px;
    
}
.right_footer a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
}


/* nav 끝 */



/* 공통끝 */
.menu_icon i{
    font-size: 30px;
}

.main_contents{
    padding: 0;
    min-height: 100%;
    position: relative;
    /* padding-bottom:64px; */
    max-width: 6144px;
}

.main_image {
    background-image: url(../../img/main.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* min-width:3000px; */

}

.main_search {
    text-align: center;
    padding-top: 200px;
}

.menu_select {
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 10px;
}

/* .hotel_icon {
    background-image: url(../../img/cat.jpg);
    width: 30px;
    height: 30px;
} */

.menu_icon {
    list-style:none;
    padding: 15px 25px;
    margin: 0px;
}

.menu_icon ul {
    list-style: none;
    display: inline-block;
    padding: 0 30px;
}

.menu_icon>ul>a>li {
    padding-left: 0 20px;
}

.hotel_search {
    margin-top: 10px;
    width: 600px;
    /* height: 80px; */
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
}

.hotel_search>ul {
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    
}

.hotel_search>ul>li {
    display: inline-block;
    padding: 0 20px;
    background-color: #F1F1F1;
    line-height: 40px;
    border-radius: 6px;
}

.hotel_search>ul>ul {
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    display: inline-block;
    background-color: #F1F1F1;
    width: 230px;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
}

.hotel_search>ul>ul>a>li {
    display: inline-block;
}

.reserve_people{
    width: 530px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: var(--sub-grey-color);
    position: relative;
    z-index: 3;
}

.reserve_people button{
    padding: 15px 20px;
    font-size: 16px;
}

.reserve_people input{
    width: 80%;
}

.reserve_people{
    width: 530px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: var(--sub-grey-color);
    position: relative;
    z-index: 3;
}

.vacation_search {
    margin-top: 10px;
    width: 530px;
    /* height: 80px; */
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
}

.vacation_search>ul {
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    
}

.vacation_search>ul>li {
    display: inline-block;
    padding: 0px 20px;
    background-color: #F1F1F1;
    line-height: 40px;
    border-radius: 6px;
}

.vacation_search>ul>ul {
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    display: inline-block;
    background-color: #F1F1F1;
    width: 230px;
    height: 40px;
    line-height: 40px;
    border-radius: 6px;
}

.vacation_search>ul>ul>a>li {
    display: inline-block;
}


/* .vacation_search>ul {
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    
}

.vacation_search>ul>li {
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: #F1F1F1;
    line-height: 35px;
    border-radius: 6px;
} */

.fa-map-marker-alt {
    margin-right:15px;
    color: #A8A8A8;
}

.fa-calendar-alt {
    margin-right: 15px;
    color: #A8A8A8;
}

.slash2::before {
    position: absolute;
    top: calc(36%);
    left: calc(48%);
    width: 1px;
    height: 20px;
    background-color: black;
    content: "";
}

.chk_date {
    margin-right: 20px;
}

.fa-user-alt {
    margin-right:15px;
    color: #A8A8A8;
}

.hotel_submit {
    background-color: #FF6B00 !important;
}

.hotel_submit a{
    color:white; 
    padding:10px 30px;
}

.hotel_submit:hover {
    background-color: #f56600 !important;
}

.hotel_submit input{
    font-size: 13px;
    border: 0;
    background-color: transparent;
    line-height: 35px;
    color: white;
}

.vacation_submit {
    background-color: #FF6B00 !important;
}

.vacation_submit:hover {
    background-color: #f56600 !important;
}

.location {
    cursor: pointer;
    padding: 10px;
}

.hotel_location {
    display: none;
    width: 600px;
    background-color: white;
    margin-top: 10px;
    margin-left: auto; 
    margin-right: auto;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.15);
    position: relative; 
    z-index: 3;  
}
.vacation_location {
    display: none;
    width: 600px;
    background-color: white;
    margin-top: 10px;
    margin-left: auto; 
    margin-right: auto;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index:3;
}

.hotel_lo_select {
    list-style: none;
    cursor: pointer;
    width: 120px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border: 1px solid var(--line-color);
    border-radius: 10px;
}

.hotel_lo_select:hover {
    background-color: var(--sub-color);
    color: var(--main-color);
    border-color: var(--main-color);
}
.vacation_lo_select {
    list-style: none;
    cursor: pointer;
    width: 120px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border: 1px solid var(--line-color);
    border-radius: 10px;
}

.vacation_lo_select:hover {
    background-color: var(--sub-color);
    color: var(--main-color);
    border-color: var(--main-color);
}

.get_date {
    cursor: pointer;
}
.reserve_date{
    position: relative;
    z-index: 3;
}

/* hotel_detail */
.choice_people{
    position: relative;
    cursor: pointer;
}

.choice_people a span:hover{
    position: relative;
    color: var(--main-color);
}

.choice_room{
    position: relative;
}

.rating_head i{
    font-size:22px;
}

.hotel_detail {
    margin-top: 110px;
}

.hotel_detail hr{
    margin: 32px 0;
}

.hotel_detail h1{
    font-size: 26px;
    font-weight: bold;
}

.hotel_detail h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hotel_detail h5{
    font-size: 18px;
    color: var(--text-sub-color);
}

.hotel_main_img{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hotel_detail1{
    margin-bottom: 80px;
}

.google_map{
    width: 100%;
    height: 340px;
    border-radius: 10px;
    background-image: url(/static/img/gps_noimg.png);
    background-position: center center;
}

.hotel_detail_reserve{
    border: 1px solid var(--line-color);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 40px;
}
.hotel_detail_reserve_date{
    position: relative;
}

.hotel_detail_reserve p {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 24px;
}

.hotel_detail_reserve button{
    padding: 15px 20px;
    font-size: 16px;
}

.hotel_detail_reserve_btn{
    width: 100%;
    margin-bottom: 12px;
    border-radius: 10px;
    background-color: var(--sub-grey-color);
    text-align: center;
}

.hotel_detail_reserve_btn button{
    width: 50%;
    background-color: var(--sub-grey-color);
    border-radius: 10px;
}

.hotel_detail_reserve_btn_submit{
    background-color: var(--main-color);
    color: var(--back-color);
    margin-bottom: 0;
}

.hotel_detail_reserve_btn i {
    font-size: 16px;
    color: var(--icon-color);
    margin-right: 15px;
}

.hotel_detail_reserve .hotel_detail_reserve_checkout::before{
    position: absolute;
    top: calc(28%);
    left: calc(50%);
    width: 1px;
    height: 28px;
    background-color: var(--icon-color);
    content: "";
}

.hotel_review_rating{
    border: 1px solid var(--line-color);
    border-radius: 10px;
    position: relative;
    margin-bottom: 50px;
}

.hotel_review_rating > div{
    padding: 50px 100px;
}

.review_rating_cnt p{
    padding: 5px 0;
    margin: 0;
}

.review_rating_cnt i{
    font-size: 18px;
}

.review_rating_cnt_star{
    padding-right: 100px;
}

.user_review table td{
    padding: 20px 30px;
}

.user_review .upload_date{
    text-align: end;
}

.total_rating p{
    font-size: 30px;
    text-align: center;
    color: var(--text-sub-color);
}

.total_rating .slash{
    font-size: 16px;
}

.total_rating .my_rating{
    font-weight: 600;
    color: black;
}

.total_rating i{
    font-size: 22px;
}

.my_rating_star{
    text-align: center;
}

.hotel_review_rating .my_rating_star::before{
    position: absolute;
    top: calc(35%);
    left: calc(50%);
    width: 1px;
    height: 100px;
    background-color: var(--line-color);
    content: "";
}

.recommend{
    font-size: 16px;
}

.recommend_vaction, .recommend_vaction a{
    height: 194px;
    width: 324px;
    background-image: url(/static/img/img_noimg.jpg);
    border-radius: 10px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hotel_room_select{
    list-style: none;
    text-align: center;
    font-size: 20px;
    padding: 15px 20px;
    background-color: var(--back-color);
    display: none;
    border: 0;
}

.hotel_room_select:hover{
    background-color: var(--sub-color);
}


/* vacation_detail */
.vacation_main_img{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    background-image: url(/static/img/vacation_detail_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.vacation_reserve_people{
    display: none;
}


/* reserve */
.reserve_title {
    padding-top: 20%;
    padding-bottom:5%; 
    text-align: center;
    font-weight: bold;
}

.reservation {
    display: block;
    margin-bottom: 20%;
}

.reserve {
    margin-bottom: 50px;
    width:80%;
    margin:auto;
}

.reserve label {
    padding-top: 20px;
    padding-bottom: 10px;
    display: block;
}

.reserve select{
    background-color: #dBDBDB;
    color:#747474;
    border-radius: 7px;
    padding: 7px;
    
}


.reserve_input {
    background-color: #f5f5f5;
    border: 1px solid #9e9e9e;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 10px;
}

.auth_btn {
    background-color: #BDBDBD;
    border: none;
    color:#FFFFFF;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
}

.all_agree {
    font-weight: bold;
}
.reserve_check {
    color:#747474
}

.provision{
    padding-top:10px;
}

.provision span, a{
    font-size: 13px;
}

.provision a{
    color:#747474
}

.provision .important{
    color: red;
}


.reserve_confirm {
    width:80%;
    margin:auto;
    margin-top: 30px;
    border-radius: 5%;
    background-color: #fff1e6;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.reserve_index {
    color:#747474;
}

.reserve_confirm label{
    display: block;
    padding-top: 20px;
}

.reserve_price {
    color: red;
    font-size: 30px;
}

.purchase_btn {
    margin-left: 30%;
    width: 40%;
    margin-top: 30px;
    background-color:#FF6B00;
    color:#FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 10px;   
}

.purchase_btn:hover{
    background-color: #ff964a;
}

.purchase_container{
    text-align: center;
    font-size: 20px;
    line-height: 120%;
}

@media (min-width: 768px){
    .reservation{
        display: flex;
        justify-content: center;
        /* max-width: 800px; */
    }
    .reserve_confirm{
        width: 40%;
    }

    .reserve {
        width: 40%;
    }

    .reserve_title {
        padding-top: 100px;

    }
}


/* end: reserve */
/* 예약파트 css 분리하였습니다 */

.reserve_date input {
    padding: 15px 15px;
    border: 1px solid var(--line-color);
    border-radius: 10px;
    margin-bottom: 12px;
    color: #000;
    font-size: 18px !important;
    position: relative;

}

.reserve_date input[type=button]:hover {
    border-color: var(--main-color);
    color: var(--main-color);
    background-color: var(--sub-color);
}

.reserve_date input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: var(--sub-color);
    color: var(--main-color);
    border: 0px;
    outline-width: 0;
}

.daterangepicker {
    background-color: #fff;
    border-radius: 0 !important;
    align-content: center !important;
    padding: 0 !important
}

.daterangepicker td.active, .daterangepicker td.active:hover{
    background-color: var(--main-color) !important;
}

.daterangepicker td.in-range{
    background-color: var(--sub-color);
}
/* thead tr:nth-child(2) {
    color: #BDBDBD !important
} */

/* tbody tr td {
    padding: 5px 7px !important
} */

.month {
    font-size: 16px !important;
    padding-bottom: 10px !important;
    padding-top: 10px !important
}

.start-date,
.end-date {
    border-radius: 0px !important;
    background-color: var(--main-color) !important;
}

.available:hover {
    border-radius: 0px !important
}

.off {
    color: #EEEEEE !important
}

.off:hover {
    background-color: #EEEEEE !important;
    color: #fff !important
}

.drp-buttons {
    display: none !important
}