body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #FF6B00;
}

.toolbar {
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.home_icon {
    margin-left: 10vw;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 136.5%;
}

.home_tool {
    padding-left: 5vw;
}

.home_menu {
    margin: 0 20px 0 20px;
}

.home_tool2 {
    position: absolute;
    left: 80vw;
}

.page {

}

.main_image {
    background-image: url(../../img/main.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_search {
    text-align: center;
    padding-top: 200px;
}

.menu_select {
    display: inline-block;
    width: 300px;
    height: 80px;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.hotel_icon {
    background-image: url(../../img/cat.jpg);
    width: 30px;
    height: 30px;
}

.list_pl_search{
    position: absolute;
    width: 189px;
    height: 64px;
    left: 402px;
    top: 112px;
    
    background: #F1F1F1;
    border-radius: 10px;

}

.list_stdate_search{
    position: absolute;
    width: 344px;
    height: 64px;
    left: 596px;
    top: 112px;
    
    background: #F1F1F1;
    border-radius: 10px;  
}
.list_eddate_search::before{
    position: absolute;
   
    
    content:""; 
}



.list_peonum_search{
    position: absolute;
width: 193px;
height: 64px;
left: 945px;
top: 112px;

background: #F1F1F1;
    border-radius: 10px;  
}

.list_gps_map{
position: absolute;
width: 809px;
height: 1094px;
left: 778px;
top: 222px;
} 
.table_list{
    border-radius: 10px;
    text-align: center; 
}
.list1{
    position: absolute;
    width: 651px;
    height: 201px;
    left: 38px;
    top: 230px;
    
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-collapse: collapse;
    border-radius: 10px;
    text-align: center;





    
}
.list2{
    position: absolute;
    width: 651px;
    height: 201px;
    left: 38px;
    top: 449px;
    
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 10px;  
}
