.pw_change{
    margin-top: 100px;
}

.center{
    display: flex;
    justify-content: center;

}

.pw_change tr{
    border-bottom: 1px solid var(--sub-grey-color);
}

.pw_change td{
    min-width:300px;
    display: block;
    padding:10px 30px 10px 30px;
}

.update_btn{
    background-color: var(--sub-color);
    color: var(--main-color);
    padding: 10px 30px 10px 30px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    font-weight: bold;
    margin-top: 50px;
    
}

.error{
    color: red;
    font-size: 13px;
    display: block;
}


@media(min-width:768px){
    
    .pw_change td{
        display: table-cell;
    }
}