c/* reserve */
.reserve_title {
    /* padding-top: 5%; */
    padding-bottom:5%; 
    text-align: center;
    font-weight: bold;
}

.reservation {
    display: block;
    margin-bottom: 20%;
}

.reserve {
    margin-bottom: 50px;
    width:80%;
    margin:auto;
    padding-left: 20px;
}

.reserve label {
    padding-top: 20px;
    padding-bottom: 10px;
    display: block;
}
/* 
.reserve select{
    background-color: #dBDBDB;
    color:#747474;
    border-radius: 7px;
    padding: 7px;
    
} */


.form-control {
    border-radius: 5px;
    height: 40px;
    margin-bottom: 10px;
    width:60%;
    display: inline-block;
}

.auth_btn {
    background-color: #FF6B00;
    border: none;
    color:#FFFFFF;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
}

.auth_btn:hover{
    background-color: #ff964a;
}

.all_agree {
    font-weight: bold;
}
.reserve_check {
    color:#747474
}

.provision{
    padding-top:10px;
}

.provision span, a{
    font-size: 13px;
}

.provision a{
    color:#747474
}

.provision .important{
    color: red;
}


.reserve_confirm {
    width:80%;
    margin:auto;
    margin-top: 30px;
    border-radius: 5%;
    background-color: #fff1e6;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.reserve_index {
    color:#747474;
}

.reserve_confirm label{
    display: block;
    padding-top: 20px;
}

.reserve_price {
    color: red;
    font-size: 30px;
}

.purchase_btn {
    margin-left: 30%;
    width: 40%;
    margin-top: 30px;
    background-color:#FF6B00;
    color:#FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 10px;   
}

.purchase_btn:hover{
    background-color: #ff964a;
}
.purchase_container{
    text-align: center;
    font-size: 20px;
    line-height: 120%;
}

#error_phone{
    color: red;
    font-size: 13px;
    display: block;
}

#confirmOk{
    display: none;
}

@media (min-width: 768px){

.reservation{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    max-width: 900px;
    margin: auto;
    margin-bottom: 20%;

    
}
.reserve_confirm{
    width: 40%;
}

.reserve {
    margin-top:50px;
    /* width: 40%; */
}

.reserve_title {
    padding-top: 70px;

}
.form_box{
    width:50%;
}

}

/* end: reserve */

.confirm_box {
    border-radius: 5px;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.confirm_btn {
    background-color: #FF6B00;
    border: none;
    color:#FFFFFF;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
}

.confirm_btn:hover {
    background-color: #ff964a;
}

.phone_confirm {
    display:none;
}

