.update_userinfo{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.center{
    display: flex;
    justify-content: center;

}

.update_userinfo tr{
    border-bottom: 1px solid var(--sub-grey-color);
}

.update_userinfo td{
    min-width:300px;
    display: block;
    padding:10px 30px 10px 30px;
}

.update_btn{
    background-color: var(--sub-grey-color);
    color: var(--text-sub-color);
    padding: 10px 30px 10px 30px;
    border: 1px solid var(--icon-color);
    border-radius: 10px;
}


@media(min-width:768px){
    
    .update_userinfo td{
        display: table-cell;
    }
}